.bold {
    font-weight: 700;
}

.light {
    font-weight: 100;
}

nav {
    font-family: 'Montserrat', sans-serif;
    height: 30px;
    padding-left: 30px;
    font-weight: 700;
    margin: 10px;
}

#blog-list {
    padding: 30px;
    font-family: 'Montserrat','sans-serif';
    font-weight: 100;

}

#postInput {
    display:flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    border-radius: 8px;
    font-family: 'Montserrat','sans-serif';
}

#postInput > button {
margin-left:auto;
width: 60px;
}

#postInput > input,textarea {
padding: 5px 20px;
}

